<div class="slider">
    <div class="slide">
        <div class="slide-bg">
            <img src="https://image.tmdb.org/t/p/original/ugS5FVfCI3RV0ZwZtBV3HAV75OX.jpg" alt="">
        </div>
        <div class="slide-pane">
            <h2 class="title">Dragon Ball Super: Super Hero</h2>
            <div class="meta">
                <div class="info">
                    <span class="rating">
                        <span>star</span><span class="rating-value">7.5</span><span>/10</span>
                        <span>463 Reviews</span>
                        <span>2021</span>
                    </span>
                </div>
            </div>
            <div class="description">
                The Red Ribbon Army, an evil organization that was once destroyed by Goku in the past, has been reformed by a group of people who have created new and mightier Androids, Gamma 1 and Gamma 2, and seek vengeance against Goku and his family.
            </div>
        </div>
    </div>
</div>